@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");

/* .header {
  color: green;
} */

/* From YT vid */
.header {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(125, 183, 218);
  /* padding: 0 10%; */
}

.logo {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 2rem;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(66, 66, 66);
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

/* .badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
} */

.name {
  text-decoration: none;
  font-size: 1.5rem;
  /* font-family: "Kdam Thmor Pro", sans-serif; */
  font-family: "Kdam Thmor Pro", sans-serif;
  padding-left: 2rem;
  color: rgb(66, 66, 66);
  text-align: center;
}

.image {
  content: url(https://lh3.googleusercontent.com/gKBFfrYvYiU9uB8wH_S5rVUUsZkbmSjUbuOEpwDU5CqX7idsH70LA3j8ytW0Zn3z7YIC8fglGcXcY0CXGkHnES9FS6n5TEA0HzQD__e2A3LxYSxdCvSxXsWp4PPjSzSBzA=w1280);
  /* content: "file:///Users/isabellahudson/Downloads/FCFLOGO.png"; */
  width: 20rem;
  height: auto;
}

.footer {
  position: absolute;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  text-align: center;
  font-size: 0.75rem;
  padding-bottom: 2rem;
  /* background-color: aliceblue; */
  /*not fully on one side??*/
}

.lehighlogo {
  height: 1.5rem;
  width: auto;
}

.csiflink {
  color: black;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.csiflink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 4px;
  background-color: green;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.csiflink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
