@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Source+Sans+Pro:ital,wght@0,300;1,300&display=swap");

.fcfheader {
  font-family: "Fascinate", cursive;
  font-size: 1.9rem;
  color: black;
  text-align: center;
}

.backgroundhead {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 157, 255),
    rgb(226, 230, 173)
  );
}

.logo {
  width: 13rem; /* might need to fix size */
  height: auto;
}

.links a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  color: rgb(49, 49, 49);
}

.links a:hover {
  color: #000000;
  text-decoration: none;
}
.links a:active {
  color: #000000;
  text-decoration: none;
}
.links a:visited {
  color: rgb(49, 49, 49);
  text-decoration: none;
}
/* .links a:link {
    color: #000000;
    text-decoration: none;
  } */
